# Ignore everything
*

# Allow .cpp, .h, .hpp files
!*.cpp
!*.h
!*.hpp

# Allow everything under the "assets" folder
!assets
!assets/
!assets/**
/sdl2_playground.vcxproj
/sdl2_playground.vcxproj.filters
